# OS Files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Visual Studio
.vs/
bin/
obj/

# Logs
*.log
logs/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Secrets
.env
*.pem
*.key
*.pfx

# Node
node_modules/

# Python
__pycache__/
*.pyc
